<div class="container mt-5">
    <h2 class="mb-5 ml-5">
        <fa name="users"></fa>Packages List
    </h2>

    <div class="alert alert-warning" *ngIf="!packages || packages.length==0">
        <fa name="exclamation-triangle"></fa> Records could not be found or loaded
    </div>

    <div class="row" *ngIf="packages && packages.length>0">
        <div class="col-lg-2 ml-1 mb-1" *ngFor="let p of packages">
            <div class="card">

                <div class="card-body">
                    <h6 class="card-title">{{p.title}}</h6>
                    <p class="card-text">
                        Net Speed: {{p.netSpeed}}
                        <br />Max Usage: {{p.maxUsage}}
                        <br/> Charge: {{p.charge}}
                    </p>
                    <a routerLink="/addCustomer/{{p.title}}" class="btn btn-primary" role="button">
                      Apply
                    </a>
                </div>
            </div>
        </div>
    </div>